.env
.env.*
quiz.db
*.pyc   
__pycache__/
*.pyo   
*.pyd
*.db
*.sqlite3
*.log
*.bak
*.swp
*.tmp
*.DS_Store
*.egg-info/
*.egg
dist/
build/
*.zip   
*.tar.gz
*.rar
*.7z
*.tar
*.gz
*.tgz
*.vscode/
.idea/